.card {
  width: 80px; 
  height: 50%;
  flex: 0 1 calc(33.333% - 20px);
  margin: 10px;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.legenda{
  font-weight: bold;
  color: black;
  display: flex;
  justify-content: center; 
  align-items: center;  
  text-align: center;     
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}
.card-header {
  display: flex;
  align-items: center;
  padding: 10px;
}

.avatar {
  width: 40px;       
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
}

.username {
  font-weight: bold;
  font-size: 0.9rem;
}

.card-image {
  width: 100%;
  height: 20px;
  object-fit: cover;
}

.card h2 {
  font-weight: bold;
  font-size: 1.1rem;
  margin: 10px;
  display: flex;
  justify-content: center; 
  align-items: center;     
  text-align: center;      
}

@media (max-width: 1080px) {
  .card {
    flex: 0 1 calc(50% - 20px); 
  }

  .ad-banner {
    max-width: 320px;
  }
}


@media (max-width: 768px) {
  .card {
    flex: 0 1 100%; 
  }

  .ad-banner {
    max-width: 100%;
  }
}