@media (max-width: 768px) {
  .ad-banner {
    width: 468px; 
    height: 60px;
  }
}

/* Telas menores que 480px */
@media (max-width: 480px) {
  .ad-banner {
    width: 320px; 
    height: 50px;
  }
}