.ad-banner {
  width: 100%;
  max-width: 468px; 
  height: auto;     
}

@media (max-width: 1080px) {
  .ad-banner {
    max-width: 320px;
  }
}

@media (max-width: 768px) {
  .ad-banner {
    max-width: 100%;
  }
}
