footer {
  text-align: center;
  padding: 10px 10px;
  background: linear-gradient(135deg, #fff, #000);
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

footer p {
    margin: 1px 0;
    font-size: clamp(0.95rem, 2vw, 1.1rem);
    color: #2c3e50;
    font-weight: 500;
}