body {
  margin: 0;
  padding: 0;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 100%;
  width: 100%;
  line-height: 1.6;
    /* overflow: hidden; */
    
}
@media (max-width: 768px) {
  .ad-banner {
    width: 468px; 
    height: 60px;
  }
}

@media (max-width: 480px) {
  .ad-banner {
    width: 320px;
    height: 50px;
  }
}
